* {
    box-sizing: border-box;
}

/* https://css-tricks.com/perfect-full-page-background-image/#awesome-easy-progressive-css3-way */
/* css tricks background image on a website that covers the entire browser window at all times */
body {
    margin: 0;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #aaaaaa;
}

main {
    /* not just occupy the space needed, need them to take up the whole screen */
    height: 100vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.top {
    display: flex;
    justify-content: space-between;
}

h1.time {
    text-align: center;
}